<h1 align="center"> <%= title %> </h1>

<%= render 'shared/errors', {object: @user}%>

<div class="row">
  <div class="col-xs-12">
    <%= form_for @user do |f| %>

      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username, {class: "form-control",
            placeholder: "Enter Username", autofocus: true} %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, {class: "form-control",
          placeholder: "Enter Email"} %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, {class: "form-control",
          placeholder: "Enter Password"} %>
      </div>

      <%= f.submit submit_text, {class: "btn btn-primary"} %>
      <%= link_to "Back to articles Listing", articles_path,
        {class: "btn btn-success"} %>
    <% end %>
  </div>
</div>
