<header class="navbar navbar-fixed-top navbar-inverse padding">
  <div class="container-fluid">
    <%= link_to "Alpha App", root_path,
      {class: "navbar-brand", id: "logo"} %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Articles", articles_path %></li>
        <%= render("layouts/category_options") %>
        <% if logged_in? %>
          <li><%= link_to "Create Article", new_article_path %></li>
          <li><%= link_to "Users", users_path() %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= "Admin " if current_user().admin? %>Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "User cheat", login_path(:session => {
            :email=>"example-1@alphaapp.org", :password=> "password"}), method: :post %></li>

          <li><%= link_to "Admin cheat", login_path(:session => {
            :email=>"admin@alphaapp.org", :password=> "password"}), method: :post %></li>
          <li><%= link_to "Log in", login_path %></li>
          <li><%= link_to "Sign up", signup_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
